#root {
  margin: 0 auto;
  /* text-align: center; */
}

h2, h3 {
  margin: 0;
}

header {
  height: 40px;
  background: slategray;
  padding: 10px;
  color: white;
}

ul {
}

.student-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.student-card {
  width: 300px;
  background: rgb(183, 188, 193);
  /* border: 1px solid rgb(30, 30, 30); */
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
}

.student-card:hover {
  box-shadow: 3px 3px 5px rgb(142, 141, 141);
  transform: translate(-3px, -3px)
}

.student-average {
  margin-left: -20px;
  font-weight: bold;
}

.student-grades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.student-average {
  grid-column: 1 / span 2;
}