#root {
  width: 1280px;
  margin: 0 auto;
  /* text-align: center; */
}

h2, h3 {
  margin: 0;
}

header {
  height: 40px;
  background: slategray;
  padding: 10px;
  color: white;
}

ul {
}

.student-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.student-card {
  width: 300px;
  background: rgb(183, 188, 193);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
}

.student-average {
  margin-left: -20px;
  font-weight: bold;
}

.student-grades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.student-average {
  grid-column: 1 / span 2;
}